<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Do you want to delete me？

Left slide note, the delete button will appear。</string>
	<string>Welcome

This is a simple and pure notepad app.。

Quickly create notes, save in real time, search quickly。

After logging in to Evernote, automatically upload notes to Evernote, save in the cloud。

Support sharing, sharing notes to social networks or other apps, and allowing other apps to share content to notes。</string>
</array>
</plist>
